<section class="about-section" id="about-us">
  <div class="container about-container">
    <div class="about-info">
      <h2 class="title">СHOICE - екологічна продукція МАЙБУТНЬОГО</h2>
      <p class="about-text text-span">
        Ми дбаємо про здоров'я своїх клієнтів і навколишнє середовище. Вже як 20 років на ринку.
      </p>

      <a href="https://www.instagram.com/p/C5N3FRmixEj/" class="view-catalog-btn">Переглянути каталог</a>
    </div>

    <img class="img-hero" src="./img/about-us-img/photo_2024-09-05_17-21-44.jpg" alt="clock" width="530" height="532" />
  </div>
</section>