.about-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-info {
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 40px 20px;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.about-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.text-span {
  margin-bottom: 20px;
}

.view-catalog-btn {
  display: block;
  max-width: 180px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border-radius: 16px;
  padding: 15px;
  border: none;
  margin-top: 40px;
}

.view-catalog-btn:hover,
.view-catalog-btn:focus {
  background-color: #1f3cd4;
}

.img-hero {
  border-radius: 50px;
}

@media only screen and (max-width: 767px) {
  .about-info {
    margin-bottom: 20px;
  }
}


@media only screen and (min-width: 768px) {
  .about-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about-info {
    border-radius: 50px;
    padding: 80px 60px;
  }

  .title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .about-text {
    font-size: 16px;
    width: 574px;
  }

  .view-catalog-btn {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .about-info {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-container {
    display: flex;
    gap: 40px;
  }

  .about-info {
    width: 580px;
    border-radius: 50px;
    padding: 80px 60px;
  }

  .about-text {
    width: 480px;
  }

  .view-catalog-btn {
    margin-top: 40px;
  }
}