.header-section {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  ;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav-logo {
  display: block;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-top: 27.5px;
  padding-bottom: 27.5px;
}

@media only screen and (min-width: 768px) {
  .header-nav-logo {
    font-size: 24px;
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

@media only screen and (max-width: 1279px) {

  .header-nav-list,
  .header-icons-list {
    display: none;
  }

  .header-button {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #0c0c0c;
  }
}

@media only screen and (min-width: 1280px) {
  .header-button {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-logo {
    margin-right: 203px;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #0c0c0c;
  }

  .header-nav-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
    transition: color 250ms linear;

  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #3350e9;
  }

  .link-active {
    color: #3350e9;
  }

  .link-active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 100%;
    background-color: #3350e9;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }

  .header-icons-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-icons-item {
    width: 36px;
    height: 36px;
  }

  .header-icons-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    fill: #0c0c0c;
    transition: border 250ms linear, fill 250ms linear;
  }

  .header-icons-link:hover,
  .header-icons-link:focus {
    border: 1px solid rgba(51, 80, 233, 0.1);
    fill: #3350e9;
  }

}